<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="https://img.icons8.com/metro/452/cat.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        .form-sign {
            width: 300px;
            margin-left: 42%;
            margin-top: 8%;
            margin-bottom: 8%;
        }
    </style>

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <div class="text-center">

        <main class="form-sign">
            <form action="/login" method="post">
                <img class="mb-4" src="https://img.icons8.com/metro/452/cat.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating ml-20">
                    <input type="name" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <input type="submit" value="sign">
                <p class="mt-5 mb-3 text-muted">© 2021</p>
            </form>


        </main>

        <div id="wt-sky-root"></div>

        <footer th:insert="blocks/footer :: footer"></footer>

    </div>

</main>
</body>
</html>