<div th:fragment="footer">
    <div class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back to top</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">You have reached the end of the page. Believe me, there are more interesting things at the top.</font></font></p>
            <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2020–2021 KOTIK LLC. All rights reserved. Who would protect me so ...</font></font></p>
        </div>
    </div>
</div>